Connects to the NASA API (NASA Open APIs)

Obtains photos from the 'Mars Rover' endpoint - done

Allows the user to see the photos of each rover (Curiosity, Opportunity and Spirit) - done

The photos list should be paginated showing a max of 25 photos per page (dynamic loading similar to facebook/instagram will be nice, but not required) - done

Allows the user to filter the rover photos by camera - done

By default it shows the latest photos for current day - done

Allows the user to search for photos based on 'Earth Day' date (2020-09-22)

Allows the user to search for photos based on the 'Sol' date (2890)

Optional:

- Let the user store search parameters as favorites or bookmarks that can be recalled in the future (Local storage is accepted, any serverless way of storing data is also accepted)

- A lot of extra points if you include a few tests.

- You can (and will get extra points) use NextJS to develop your app. - done

We will check for coding style and consistency mostly, we are interested on seeing how you think and organize a project.

We do care about the UX design, a nicely styled app would get extra points :D

Please use a linter!